@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width:100%;
    vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin:0;
    padding:0;
}
.container{
    width:80%;
    margin:0 auto;
}
/* shared css starts */
.font-quicksand{
    font-family: "Quicksand", serif;
}
.font-raleway{
    font-family: "Raleway", serif;
}
.flex{
    display: flex;
}
.secondary-btn{
    padding:10px 46px;
    background:rgba(17, 17, 17, 1);
    border-radius: 12px;
    border:none;
}
.secondary-btn a {
color:rgba(255, 255, 255, 1);
}

.secondary-btn:hover {
    border:2px solid rgba(17, 17, 17, 1);
   background: linear-gradient(rgba(222, 245, 255, 1),rgba(255, 255, 255, 0));

}
.secondary-btn:hover a{
    color:rgba(1, 172, 253, 1);
    
}
.footer-about-school{
    font-weight:700;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color:rgba(255, 255, 255, 1);
    padding-bottom: 32px;
}
/* shared css ends */
/* headerpart starts */
header{
    background: #FFFFFF;
}
/* header part ends  */

/* nav part starts */

.nav-image img {
max-width: 62px;
}
.nav-image{
    align-items: center;
}
.logo-name{
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.8rem;
    color:rgba(17, 17, 17, 1);
    padding-top: 10px;
}
.nav-content{
    justify-content: space-between;
    align-items: center;
    /* padding:26px; */
}
.icon-bar{
    display: none;
}
.menu-list{
    padding:16px 0px;
    gap:32px;

}
.primary-btn{
    padding:10px 60px;
    background: rgba(254, 163, 1, 1);
    border-radius: 12px;
    border:none;
}
.primary-btn a{
    color:rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.8rem;

}
.primary-btn:hover{
    background: linear-gradient(360deg, rgba(254, 163, 1, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
    border:3px solid rgba(254, 163, 1, 1);
    transition: 0.5s ease-in-out;
}
.primary-btn:hover a{
    color:rgba(254, 163, 1, 1);
    transition: 0.5s ease-in-out;
}
.menu-list li{
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.8rem;
}
.menu-list li:first-child a {  
    color: rgba(254, 163, 1, 1);
  }
  
  .menu-list li:nth-child(2) a {  
    color:rgba(1, 172, 253, 1);
  }
  
  .menu-list li:nth-child(3) a { 
    color: rgba(5, 212, 223, 1);
  }
  
  .menu-list li:last-child a { 
    color: rgba(93, 88, 239, 1);
  }
/* nav part ends */
/* responsive nav part starts */
@media (max-width: 576px) { 
    .nav-image img {
       display: block;
       padding-bottom: 5px;
    }
    .nav-image .logo-name {
     visibility: hidden;
 }

 .nav-image img{
    margin-top: 10px;
 }
 .menu-list,
 .primary-btn {
    display: none;
 }
 .icon-bar{
    display: block;
    font-size: 2rem;
}
.nav-line{
    border-bottom:2px solid rgba(254, 163, 1, 1) ;
    /* padding:5px 0px; */
}
}
/* banner part starts */
.banner{
    justify-content: space-between;
    align-items: center;
}

.banner-content-image img {
    max-width: 310px;
}

.banner h1{
    font-weight: 700;
    font-size:3.5rem ;
    line-height: 3.8rem;
}
.header-start{
    color: rgba(254, 163, 1, 1);
}
.header-end{
    color:rgba(1, 172, 253, 1);
}
.banner p{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color:rgba(17, 17, 17, 1);
    padding:24px 0px;
}
.banner-attention{
    font-size:2.8rem;
    padding:20px;
    color:rgba(1, 172, 253, 1);
}
 .banner-attention span{
    color: #FFD700;
 }
/* banner part ends */
/* responsive banner part starts */
@media (max-width: 576px){
    .banner{
        flex-direction: column;
        flex-direction: column-reverse;  
    }
    .banner h1{
        font-weight: 700;
        font-size:2rem ;
        line-height:2.5rem;
        text-align: center;
    }
    .banner p{
        font-weight: 400;
        font-size:0.8rem;
        line-height:0.9rem;
        color:rgba(17, 17, 17, 1);
        padding:18px 0px;
        text-align: center;
    }
    .banner h1 br{
display: none;
    }
    .banner p br{
        display: none;
    }
    .btn-container{
      text-align: center;
      margin-left:20px;
    }
    .banner-attention{
        font-size:1rem;
        height: 40px;
        padding:10px;
        color:rgba(1, 172, 253, 1);
        background-color: #ffff;
    }
}
/* responsive banner part ends */
/* curriculum part starts*/
.curriculum {
background-image: url(../assets/bg.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding:60px 0px;
}
.curriculum-header{
    font-weight: 700;
    color:rgba(0, 0, 0, 1);
    font-size:2.8rem ;
    line-height:3.5rem ;  
    text-align: center;
    padding:60px 0px 80px 0px;
}
.curriculum-card-container{
    justify-content: space-between;
}
.curriculam-card{
   text-align: center;
   max-width: 367px;
   
   border-radius: 18px;
   box-shadow: 1px 0px 5px -2px rgba(0,0,0,0.25);
   padding:0px 40px;
}
.curriculum-card-one{
 background: linear-gradient(rgba(222, 245, 255, 1), rgba(255, 255, 255, 0));
}
.curriculum-card-two{
    background: linear-gradient(rgba(255, 244, 220, 1), rgba(255, 255, 255, 0));
   }
   .curriculum-card-three{
    background: linear-gradient(rgba(238, 225, 255, 1), rgba(255, 255, 255, 0));
   }
   .curriculam-card h2{
    font-weight: 700;
    color:rgba(32, 32, 32, 1);
    font-size:1.5rem ;
    line-height:1.8rem ;
   }
   .curriculam-card p{
    font-weight: 500;
    color:rgba(128, 128, 128, 1);
    font-size:0.9rem ;
    line-height:1.75rem ;
    padding:33px 0px;
   }
.curriculum-card-container img {
    max-width: 136px;
    margin-top: 53px;
}
.curriculam-btn{
    margin-bottom: 53px;
    border:none;
    background: transparent;
}
.bttn-two a {
    color:rgba(240, 170, 0, 1)
}
.bttn-three a {
    color:rgba(135, 0, 255, 1);
}
.bttn-one a{
    color:rgba(100, 200, 255, 1);
}
.icon-box{
    justify-content: center;
    gap:10px;
    color:rgba(254, 163, 1, 1);
    margin:80px 0px 60px 0px;
}
.icon-content{
    font-size: 60px;
}
/* curriculum part ends */
/* responsive curriculam part started */
 @media (max-width: 576px){
.curriculum-card-container{
    flex-direction: column;
    gap:12px;

}
.icon-box{
    display:none;
    margin: 0;
}
.curriculum-header{
    
    padding:40px 0px 80px 20px;
} 
}
/* responsive curriculam part end */
/* our stories part starts */
.our-stories{
    background: url(../assets/bg.png), linear-gradient( rgba(255, 255, 255, 0.3), rgba(254, 163, 1, 0.3));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:90px 0px 190px 0px;
}
.our-stories h2{
    font-weight: 700;
    color:rgba(0, 0, 0, 1);
    font-size: 2.8rem;
    line-height: 3.5rem;
    text-align: center;
    margin-bottom: 80px;
}
.stories-container-box{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap:20px;
}
.stories-content{
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    
}

.stories-content-main{
   background: rgba(60, 216, 232, 1);
   border-radius: 47px;
   color:rgba(255, 255, 255, 1);
   max-width:200px;
   padding:14px 20px;
   position: relative;
   left: 63px;
   top: -28px;
}

.stories-content img,
.stories-content-element img {
    border-radius: 16px 16px 0px 0px;
    width:100%;
}

.stories-content-sub span {
    font-weight: 500;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 1);
    padding: 10px 19px;
    background: rgba(149, 178, 38, 1);
    border-radius: 47px;
    max-width: 174px;
    position: relative;
    left: 19px;
    top: -12px;
}
.stories-content-sub .sub-story {
    background: rgba(93, 88, 240, 1);
    font-weight: 500;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 1);
    padding: 10px 19px;
    border-radius: 47px;
    max-width: 174px;
    position: relative;
    left: 19px;
    top: -12px;
}
    .stories-content h2{
    padding:36px 0px 47px 0px;
    margin:0px 38px;
    color:rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: left;
}

.stories-content p{
    color:rgba(102, 102, 102, 1);
    font-weight: 500;
    font-size:0.9rem ;
    line-height:1.75rem ;
    padding-left: 38px;
    padding-bottom: 34px;
}
.stories-content-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
}

.stories-content-element{
    background:rgba(255, 255, 255, 1) ;
    border-radius: 16px;
}
.stories-content-element h4 {
    font-weight: 700;
    color:rgba(0, 0, 0, 1);
    font-size: 0.9rem;
    line-height: 1.7rem;
    padding:38px 19px 38px 33px;
}
.btn-container-last{
  text-align: center;
  margin-top: 80px;
  
}
 .hidden-stories{
    display: none;
 }
/* our stories part ends */
/* responsive our stories part starts */
 @media (max-width: 576px){
    .stories-content{
        display: none;
    } 
    .stories-content-sub span{
        width:103px;
        font-size: 0.5rem;
    }
    .hidden-stories{
        display: block;
     }
    .stories-content-sub .sub-story {
        width:103px;
        font-size: 0.5rem; 
    }
    br{
        display:none;
    }
    .stories-content-element h4{
        padding:10px 15px;
        line-height: 1rem;
    }
    .stories-container-box{
       
        grid-template-columns: repeat(1, 1fr);
      
   }
   .our-stories{
    padding-bottom: 60px;
   }
   .our-stories h2{
    margin-bottom: 20px;
    margin-top: 0px;
   }
}
/* responsive our stories part ends */
/* footer part started */
.footer-container{
    background: rgba(1, 172, 253, 1);
    padding:123px 0px 176px 0px;
}
.footer-content{
    justify-content: space-between;
}
   .footer-content .footer-text{
    max-width: 399px;
}
.logo-content img{
    max-width: 82px;
}
.logo-content-details{
    font-weight: 700;
    font-size:2.6rem;
    line-height: 2.4rem;
    color:rgba(255, 255, 255, 1);
}
.footer-details {
    color:rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding-top: 35px;
}
.footer-about-school li  a {
    color:rgba(255, 255, 255, 1);
    font-weight: 500px;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.footer-menu li a {
    color:rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.25rem;
}

.icon{
    max-width: 40px;
    gap:10px;
}
.about-container ul li {
    margin-bottom: 20px; 
}
/* footer part ends */
/* responsive footer part started */
@media (max-width: 576px){
    .footer-content {
        flex-direction: column;
    }
    .about-container{
        padding:32px 0px;
    }
    .logo-content-details{
        font-weight: 700;
        font-size: 2.1rem;
        line-height: 2rem;
    }
   .footer-container{
    padding:65px 0px 60px 0px;
   }
}
/* responsive footer part ends */